[Desktop Entry]
Name=GummyGram Desktop
Comment=Desktop Telegram client with customization and privacy controls
TryExec=GummyGram
Exec=env DESKTOPINTEGRATION=1 GummyGram -- %U
Icon=com.gummygram.desktop
Terminal=false
StartupWMClass=GummyGram
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;telegram;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=GummyGram -quit
Name=Quit GummyGram
Icon=application-exit
